*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角　Pro W3",メイリオ,Meiryo,”MS Pゴシック,"Helvetica Neue",Helvetica,Arial, Helvetica, sans-serif;
    background-color: #fff;
}

/*ヘッダー開始*/
header {
  width: 100%;
  padding: 15px 4% 10px;
  background-color: #ffd700;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #1f1d1d;
}

nav {
    margin: 0 0 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

/*メイン開始*/
main h2 {
    position: 0;
    margin-top: 120px;
    text-align: center;
}

main h3{
    border: double 10px #1f1d1d ;
    margin: 2em 0;
    padding: 0.5em 1em;
    text-align: center;
}

main h4 {
    text-align: center;
}

main h5 {
    text-align: center;
}

main p {
    text-align: center;
}
/*フッター開始*/




